# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

!web/app/plugins/add-wpgraphql-seo
!web/app/plugins/advanced-custom-fields-pro
!web/app/plugins/custom-post-type-ui
!web/app/plugins/disable-gutenberg-blocks
!web/app/plugins/vercel-deploy-hooks
!web/app/plugins/wordpress-seo
!web/app/plugins/wp-graphql
!web/app/plugins/wp-graphql-acf-master
!web/app/plugins/wp-graphql-blocks-1.0.10
!web/app/plugins/wp-graphql-blocks-acf-1.0.4
!web/app/plugins/wp-graphql-meta-query-0.1.1
!web/app/plugins/wp-graphql-offset-pagination-0.2.0

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml
